// Color
$background-color: #F8F8F8;
$primary-color: #d5333e;
$secondary-color: #3a2837;
$btn-primary: #3a2837;
$bg-white: #FFFFFF;

// Text Color
$text-white : #FFFFFF;
$text-black : #000000;

// Display Sizes
$display-font-sizes: (
  1: 2.5rem,
  2: 2rem,
  3: 1.5rem,
  4: 1rem,
  5: 0.5rem,
  6: 0.1rem
);
